<div class="container" style="display: inline-block;">	
    <form method="POST">
        <div class="row">
                <!-- <textarea id="custom-input" class="input-textarea" placeholder="Escribir aquí el código"></textarea> -->
                {{codigo}}
        </div>

        <div class="row">
            <input type="submit" class="button" title="Compilar y Ejecutar" value="Compilar y Ejecutar"/>
        </div> 
    </form>

    <div class="outputbox">
        <div class="outputerror">
          <div class="errorkey"></div>
            <pre class="errormessage"></pre>
        </div>

        <div class="io-show">
          <b>Output</b>
          <pre class="output-text"> </pre>
        </div>
    </div>

  </div>

