<h4> Canvas</h4>

<table class="table table-bordered container">
    <thead>
        <tr>
            <th scope="col">0</th>
            <th scope="col">1</th>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">6</th>
            <th scope="col">7</th>
            <th scope="col">8</th>
            <th scope="col">9</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td style="background-color:{{ color1 }};"></td>
            <td style="background-color:{{ color2 }};"></td>
            <td style="background-color:{{ color3 }};"></td>
            <td style="background-color:{{ color4 }};"></td>
            <td style="background-color:{{ color5 }};"></td>
            <td style="background-color:{{ color6 }};"></td>
            <td style="background-color:{{ color7 }};"></td>
            <td style="background-color:{{ color8 }};"></td>
            <td style="background-color:{{ color9 }};"></td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td style="background-color:{{ color10 }};"></td>
            <td style="background-color:{{ color11 }};"></td>
            <td style="background-color:{{ color12 }};"></td>
            <td style="background-color:{{ color13 }};"></td>
            <td style="background-color:{{ color14 }};"></td>
            <td style="background-color:{{ color15 }};"></td>
            <td style="background-color:{{ color16 }};"></td>
            <td style="background-color:{{ color17 }};"></td>
            <td style="background-color:{{ color18 }};"></td>
        </tr>

        <tr>
            <th scope="row">3</th>
            <td style="background-color:{{ color19 }};"></td>
            <td style="background-color:{{ color20 }};"></td>
            <td style="background-color:{{ color21 }};"></td>
            <td style="background-color:{{ color22 }};"></td>
            <td style="background-color:{{ color23 }};"></td>
            <td style="background-color:{{ color23 }};"></td>
            <td style="background-color:{{ color24 }};"></td>
            <td style="background-color:{{ color25 }};"></td>
            <td style="background-color:{{ color26 }};"></td>
        </tr>

        <tr>
            <th scope="row">4</th>
            <td style="background-color:{{ color27 }};"></td>
            <td style="background-color:{{ color28 }};"></td>
            <td style="background-color:{{ color29 }};"></td>
            <td style="background-color:{{ color30 }};"></td>
            <td style="background-color:{{ color31 }};"></td>
            <td style="background-color:{{ color32 }};"></td>
            <td style="background-color:{{ color33 }};"></td>
            <td style="background-color:{{ color34 }};"></td>
            <td style="background-color:{{ color36 }};"></td>
        </tr>

        <tr>
            <th scope="row">5</th>
            <td style="background-color:{{ color37 }};"></td>
            <td style="background-color:{{ color38 }};"></td>
            <td style="background-color:{{ color39 }};"></td>
            <td style="background-color:{{ color40 }};"></td>
            <td style="background-color:{{ color41 }};"></td>
            <td style="background-color:{{ color42 }};"></td>
            <td style="background-color:{{ color43 }};"></td>
            <td style="background-color:{{ color44 }};"></td>
            <td style="background-color:{{ color45 }};"></td>
        </tr>

        <tr>
            <th scope="row">6</th>
            <td style="background-color:{{ color46 }};"></td>
            <td style="background-color:{{ color47 }};"></td>
            <td style="background-color:{{ color48 }};"></td>
            <td style="background-color:{{ color49 }};"></td>
            <td style="background-color:{{ color50 }};"></td>
            <td style="background-color:{{ color51 }};"></td>
            <td style="background-color:{{ color52 }};"></td>
            <td style="background-color:{{ color53 }};"></td>
            <td style="background-color:{{ color54 }};"></td>
        </tr>

        <tr>
            <th scope="row">7</th>
            <td style="background-color:{{ color55 }};"></td>
            <td style="background-color:{{ color56 }};"></td>
            <td style="background-color:{{ color57 }};"></td>
            <td style="background-color:{{ color58 }};"></td>
            <td style="background-color:{{ color59 }};"></td>
            <td style="background-color:{{ color60 }};"></td>
            <td style="background-color:{{ color61 }};"></td>
            <td style="background-color:{{ color62 }};"></td>
            <td style="background-color:{{ color63 }};"></td>
        </tr>

        <tr>
            <th scope="row">8</th>
            <td style="background-color:{{ color64 }};"></td>
            <td style="background-color:{{ color65 }};"></td>
            <td style="background-color:{{ color66 }};"></td>
            <td style="background-color:{{ color67 }};"></td>
            <td style="background-color:{{ color68 }};"></td>
            <td style="background-color:{{ color69 }};"></td>
            <td style="background-color:{{ color70 }};"></td>
            <td style="background-color:{{ color71 }};"></td>
            <td style="background-color:{{ color72 }};"></td>
        </tr>

        <tr>
            <th scope="row">9</th>
            <td style="background-color:{{ color73 }};"></td>
            <td style="background-color:{{ color74 }};"></td>
            <td style="background-color:{{ color75 }};"></td>
            <td style="background-color:{{ color76 }};"></td>
            <td style="background-color:{{ color77 }};"></td>
            <td style="background-color:{{ color78 }};"></td>
            <td style="background-color:{{ color79 }};"></td>
            <td style="background-color:{{ color80 }};"></td>
            <td style="background-color:{{ color81 }};"></td>
        </tr>

    </tbody>
</table>